<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Unprocessed Payments</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css" />
</head>
<body>
    <div class="container">
        <section class="section">
            <div class="columns is-centered">
                <div class="column is-narrow">
                    <table class="table is-hoverable">
                        <tr>
                            <th>Email</th>
                            <th>Сумма</th>
                            <th>Валюта</th>
                            <th>Дата создания</th>
                            <th>Дата последней проверки</th>
                            <th>Система</th>
                            <th>Статус</th>
                        </tr>
                        {{range .Payments}}
                            <tr>
                                <th>{{.Email}}</th>
                                <th>{{.Amount}}</th>
                                <th>{{.Currency}}</th>
                                <th>{{.CreatedAt.Format "02/01/2006 15:04:05 UTC"}}</th>
                                <th>{{.LastCheckDate.Format "02/01/2006 15:04:05 UTC"}}</th>
                                <th>
                                    {{if eq .System "PayPal"}}
                                        <i class="fab fa-paypal" style="color: #3b7bbf"></i>
                                    {{else}}
                                        <i class="fas fa-question-circle"></i>
                                    {{end}}
                                </th>
                                <th>
                                    {{if eq .Status "Success"}}
                                        <i class="fa fa-check" style="color: #96bb7c"></i>
                                        <span>Подтверждено</span>
                                    {{else}}
                                        <i class="fa fa-spinner" style="color: dimgray"></i>
                                        <span style="color: dimgray">Проверяется</span>
                                    {{end}}
                                </th>
                            </tr>
                        {{end}}
                    </table>
                </div>
            </div>
        </section>
    </div>

    <script src="https://kit.fontawesome.com/afd2d19158.js" crossorigin="anonymous"></script>
</body>
</html>